// Width

$container-width: 1240px;

// Colors

$primary-100: #3e4095;
$primary-75: #6e70b0;
$primary-50: #9e9fc9;
$primary-25: #d1d1e6;
$primary-12: #e7e8f2;
$primary-4: #f7f8fb;
$secondary-100: #30d157;
$secondary-75: #64dd81;
$secondary-50: #97e7aa;
$secondary-25: #cbf3d5;
$secondary-12: #e6f9ea;
$secondary-4: #f7fdf8;
$black-100: #1c1917;
$black-75: #555351;
$black-50: #8d8c8b;
$black-25: #c6c5c5;
$neo1: #f2f3f7;
$neo2: #f9f9fb;
$white: #fff;
